<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/enterPlayers.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/enterPlayer.js"></script>
    <meta charset="UTF-8">
    <title>Enter Names</title>
</head>
<body>
<h1 style="text-align: center">Chess</h1>
<div id="enterPlayerNames">
    <div class="enterGroup">
        <label for="txtPlayerName">Enter Name : </label>
        <input id="txtPlayerName" type="text">
    </div>
    <p id="paraErrorMessage"></p>
    <div class="enterGroup">
        <button id="startGame">Start Game</button>
    </div>
    <div class="enterGroup">
        <button id="gameHistory">Game History</button>
    </div>
</div>


</body>
</html>