<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/listChessGames.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/listChessGames.js"></script>
    <meta charset="UTF-8">
    <title>Chess Games</title>
</head>
<body>

<button id="home">Home</button>
<select id="selectGame"></select>
<button id="viewGame">View Game</button>
<table id="table1">
    <thead>
    <tr>
        <th>White</th>
        <th>Black</th>
        <th>Winner</th>
        <th>No of Moves</th>
    </tr>
    </thead>
    <tbody id="services"></tbody>
</table>
</body>

</html>
</html>