<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="../css/board.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="../js/viewChessGame.js"></script>
    <meta charset="UTF-8">
    <title>View Chess Game</title>
</head>
<body>
<button id="home">Home</button>
<button id="back">Back</button>
<div class="playerNameBox">
    <div class="column">
        <span class="dot black"></span>
    </div>
    <div class="column">
        <p class="playerName" id="playerNameBlack"></p>
    </div>
</div>
<div id="board">
    <div row="7" col="0" class="square"></div>
    <div row="7" col="1" class="square gray"></div>
    <div row="7" col="2" class="square"></div>
    <div row="7" col="3" class="square gray"></div>
    <div row="7" col="4" class="square"></div>
    <div row="7" col="5" class="square gray"></div>
    <div row="7" col="6" class="square"></div>
    <div row="7" col="7" class="square gray"></div>
    <br>
    <div row="6" col="0" class="square gray"></div>
    <div row="6" col="1" class="square"></div>
    <div row="6" col="2" class="square gray"></div>
    <div row="6" col="3" class="square"></div>
    <div row="6" col="4" class="square gray"></div>
    <div row="6" col="5" class="square"></div>
    <div row="6" col="6" class="square gray"></div>
    <div row="6" col="7" class="square"></div>
    <br>
    <div row="5" col="0" class="square"></div>
    <div row="5" col="1" class="square gray"></div>
    <div row="5" col="2" class="square"></div>
    <div row="5" col="3" class="square gray"></div>
    <div row="5" col="4" class="square"></div>
    <div row="5" col="5" class="square gray"></div>
    <div row="5" col="6" class="square"></div>
    <div row="5" col="7" class="square gray"></div>
    <br>
    <div row="4" col="0" class="square gray"></div>
    <div row="4" col="1" class="square"></div>
    <div row="4" col="2" class="square gray"></div>
    <div row="4" col="3" class="square"></div>
    <div row="4" col="4" class="square gray"></div>
    <div row="4" col="5" class="square"></div>
    <div row="4" col="6" class="square gray"></div>
    <div row="4" col="7" class="square"></div>
    <br>
    <div row="3" col="0" class="square"></div>
    <div row="3" col="1" class="square gray"></div>
    <div row="3" col="2" class="square"></div>
    <div row="3" col="3" class="square gray"></div>
    <div row="3" col="4" class="square"></div>
    <div row="3" col="5" class="square gray"></div>
    <div row="3" col="6" class="square"></div>
    <div row="3" col="7" class="square gray"></div>
    <br>
    <div row="2" col="0" class="square gray"></div>
    <div row="2" col="1" class="square"></div>
    <div row="2" col="2" class="square gray"></div>
    <div row="2" col="3" class="square"></div>
    <div row="2" col="4" class="square gray"></div>
    <div row="2" col="5" class="square"></div>
    <div row="2" col="6" class="square gray"></div>
    <div row="2" col="7" class="square"></div>
    <br>
    <div row="1" col="0" class="square"></div>
    <div row="1" col="1" class="square gray"></div>
    <div row="1" col="2" class="square"></div>
    <div row="1" col="3" class="square gray"></div>
    <div row="1" col="4" class="square"></div>
    <div row="1" col="5" class="square gray"></div>
    <div row="1" col="6" class="square"></div>
    <div row="1" col="7" class="square gray"></div>
    <br>
    <div row="0" col="0" class="square gray"></div>
    <div row="0" col="1" class="square"></div>
    <div row="0" col="2" class="square gray"></div>
    <div row="0" col="3" class="square"></div>
    <div row="0" col="4" class="square gray"></div>
    <div row="0" col="5" class="square"></div>
    <div row="0" col="6" class="square gray"></div>
    <div row="0" col="7" class="square"></div>
</div>
<div class="playerNameBox">
    <div class="column">
        <span class="dot white"></span>
    </div>
    <div class="column">
        <p class="playerName" id="playerNameWhite"></p>
    </div>
</div>

<div class="text-center">
    <div>
        <button id="prevMove"><<</button>
        <button id="nextMove">>></button>
    </div>
    <div>
        <p id="moveNumber" style="font-size: 40px"></p>
    </div>
</div>

</body>
</html>